
@tailwind base;

@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7f6;
}

.container {
  max-width: 1200px;
}

/* Add some basic styles for the active NavLink */
.nav-active {
  color: #3b82f6; /* blue-500 */
  font-weight: bold;
}

